.quality-index-header {
	justify-content: space-between;
}

.quality-index__value {
	padding: 0.2em 1em;
}

.quality-index__value--good {
	background-color: var(--color-good-200);
	color: var(--color-good-100);
}

.quality-index-list {
	justify-content: space-between;
}

.quality-index-list__item {
	justify-items: center;
	align-items: center;
}
