.quality-index--card {
	grid-area: quality-index;
}

.quality-index-header {
	justify-content: space-between;
}

.quality-index__value {
	padding: 0.2em 1em;
	text-transform: capitalize;
}

.quality-index__value--good {
	background-color: var(--color-good-200);
	color: var(--color-good-100);
}
.quality-index__value--fair {
	background-color: var(--color-fair-200);
	color: var(--color-fair-100);
}
.quality-index__value--poor {
	background-color: var(--color-poor-200);
	color: var(--color-poor-100);
}

.quality-index-body {
	justify-content: space-between;
}

.quality-index-body,
.quality-index-list {
	gap: 3rem;
}

.quality-index-list {
	flex: 1;
	flex-wrap: wrap;
}

.quality-index-list__item {
	justify-items: center;
	align-items: center;
}

@media screen and (min-width: 48em) {
	.quality-index-list {
		justify-content: space-around;
	}
}
