.current-weather-wrapper {
	grid-area: current-weather;
}

.current-weather-information-list__item {
	gap: 0.8em;
}

.current-weather-information-list {
	border-top: 2px solid var(--color-neutral-400);
	gap: 0.8em;
}

.current-weather-temperature-container {
	gap: 2rem;
}
.current-weather-temperature-container .icon {
	flex: 1;
	margin-inline: auto;
}
.current-weather__temperature {
	margin-left: 0.2em;
}
