.header .container {
	justify-content: space-between;
	gap: 4rem;
}

.logo__img {
	width: 150px;
}

.btn--location {
	border-radius: 9999px;
	background-color: var(--color-primary);
}

.header-buttons {
	gap: 1.6rem;
}

.btn__search--toggler {
	padding: 0.6em;
	color: var(--color-neutral-200);
	border-radius: var(--border-radius-full);
	background-color: var(--color-neutral-300);
}

@media screen and (max-width: 60em) {
	.btn--location {
		padding: 0.6em;
	}

	.btn--location span {
		display: none;
	}
}

@media screen and (min-width: 60em) {
	.btn__search--toggler {
		display: none;
	}
}
