.current-day-stats-content {
	gap: 2rem;
}

.current-day-stats-container {
	padding-block: 1rem;
	overflow: auto;
	gap: 2rem;
}

.current-day-stats-container li {
	flex: 1;
	min-width: 13rem;
	text-align: center;
}

.grab {
	user-select: none;
	cursor: grabbing;
}
