.highlight-weather-card-body {
	grid-template-areas:
		"quality-index quality-index"
		"sunrise-sunset sunrise-sunset"
		"visibility feels"
		"humudity pressure";
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.area-visibility {
	grid-area: visibility;
}
.area-humudity {
	grid-area: humudity;
}
.area-feels {
	grid-area: feels;
}
.area-pressure {
	grid-area: pressure;
}

@media screen and (min-width: 90em) {
	.highlight-weather-card-body {
		grid-template-areas:
			"quality-index quality-index sunrise-sunset sunrise-sunset"
			"visibility feels humudity pressure";
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (min-width: 120em) {
	.highlight-weather-card-body {
		grid-template-areas:
			"quality-index quality-index quality-index quality-index"
			"sunrise-sunset sunrise-sunset sunrise-sunset sunrise-sunset"
			"visibility feels humudity pressure";
		grid-template-columns: repeat(4, 1fr);
	}
}
