body {
	font-size: var(--fs-300);
	font-family: var(--ff-primary);
	background-color: var(--color-neutral-800);
	color: var(--color-neutral-300);
	min-width: 370px;
}

ul {
	list-style: none;
}

sup,
sub {
	font-size: 0.7em;
}

sup {
	vertical-align: top;
}

sub {
	vertical-align: baseline;
}

/* utility classes */

/* color classes */
.text-primary {
	color: var(--color-primary);
}

.text-neutral-100 {
	color: var(--color-neutral-100);
}

.text-neutral-200 {
	color: var(--color-neutral-200);
}

.text-neutral-300 {
	color: var(--color-neutral-300);
}

.text-neutral-400 {
	color: var(--color-neutral-400);
}

.text-neutral-500 {
	color: var(--color-neutral-500);
}

.text-neutral-600 {
	color: var(--color-neutral-600);
}

.text-neutral-700 {
	color: var(--color-neutral-700);
}

.text-neutral-800 {
	color: var(--color-neutral-800);
}

.bg-neutral-100 {
	background-color: var(--color-neutral-100);
}

.bg-neutral-200 {
	background-color: var(--color-neutral-200);
}

.bg-neutral-300 {
	background-color: var(--color-neutral-300);
}

.bg-neutral-400 {
	background-color: var(--color-neutral-400);
}

.bg-neutral-500 {
	background-color: var(--color-neutral-500);
}

.bg-neutral-600 {
	background-color: var(--color-neutral-600);
}

.bg-neutral-700 {
	background-color: var(--color-neutral-700);
}

.bg-neutral-800 {
	background-color: var(--color-neutral-800);
}

/* font weights classes*/
.fw-light {
	font-weight: var(--fw-light);
}

.fw-semi-bold {
	font-weight: var(--fw-semi-bold);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

/* border radius classes */

.border-radius-100 {
	border-radius: var(--border-radius-100);
}

.border-radius-200 {
	border-radius: var(--border-radius-200);
}

.border-radius-full {
	border-radius: var(--border-radius-full);
}

/* fonts */
.font-dynamic-xlarge {
	font-size: var(--fs-900);
	line-height: 1.2;
}

.font-dynamic-large {
	font-size: var(--fs-600);
}

.font-dynamic-medium {
	font-size: var(--fs-500);
}

.font-static-xsmall {
	font-size: var(--fs-200);
}

.font-static-small {
	font-size: var(--fs-300);
}

.font-static-medium {
	font-size: var(--fs-400);
}

.font-static-xmedium {
	font-size: var(--fs-500);
}

@media screen and (min-width: 48em) {
	.font-dynamic-xlarge {
		font-size: var(--fs-1000);
	}

	.font-dynamic-large {
		font-size: var(--fs-800);
	}

	.font-dynamic-medium {
		font-size: var(--fs-600);
	}
}

/* padding bottom */
.pb-sm {
	padding-bottom: 0.5rem;
}

.pb-md {
	padding-bottom: 1rem;
}

.pb-xmd {
	padding-bottom: 1.5rem;
}

.pb-xlmd {
	padding-bottom: 2rem;
}

.pb-lg {
	padding-bottom: 2.5rem;
}

.pb-xlg {
	padding-bottom: 3rem;
}

.pt-sm {
	padding-top: 0.5rem;
}

.pt-md {
	padding-top: 1rem;
}

.pt-xmd {
	padding-top: 1.5rem;
}

.pt-xlmd {
	padding-top: 2rem;
}

.pt-lg {
	padding-top: 2.5rem;
}

.pt-xlg {
	padding-top: 3rem;
}

/* margin */
.mt-sm {
	margin-top: 0.5rem;
}

.mt-md {
	margin-top: 1rem;
}

.mt-xmd {
	margin-top: 1.5rem;
}

.mt-xlmd {
	margin-top: 2rem;
}

.mt-lg {
	margin-top: 2.5rem;
}

.mt-xlg {
	margin-top: 3rem;
}

.mb-sm {
	margin-bottom: 0.5rem;
}

.mb-md {
	margin-bottom: 1rem;
}

.mb-xmd {
	margin-bottom: 1.5rem;
}

.mb-xlmd {
	margin-bottom: 2rem;
}

.mb-lg {
	margin-bottom: 2.5rem;
}

.mb-xlg {
	margin-bottom: 3rem;
}

/* flex */
.flex {
	display: flex;
}

.align-ic {
	align-items: center;
}

/* grid */
.grid {
	display: grid;
}

/* container */
.container {
	--max-width: 1400px;
	--dynamic-width: 93%;
	--x-padding: 0;

	width: min(var(--max-width), var(--dynamic-width));
	padding-inline: var(--x-padding);
	margin-inline: auto;
}

@media screen and (min-width: 48em) {
	.container {
		--x-padding: 2rem;
	}
}

@media screen and (min-width: 75em) {
	.container {
		--x-padding: 3.5rem;
	}
}

/* cards */
.card {
	border-radius: var(--border-radius-200);
	padding: 3rem;
}

.card-small {
	border-radius: var(--border-radius-100);
	padding: 1.6rem;
}

/* icons */
.icon {
	--dimen: 5rem;
	width: var(--dimen);
	height: var(--dimen);
}

.icon--small {
	--dimen: 2rem;
}

.icon--medium {
	--dimen: 2.5rem;
}

.icon--xxmedium {
	--dimen: 3.5rem;
}

.icon--xmedium {
	--dimen: 4rem;
}

@media screen and (min-width: 40em) {
	.icon--medium.icon--responsive {
		--dimen: 3.5rem;
	}

	.icon--xxmedium.icon--responsive {
		--dimen: 4.5rem;
	}
}

/* buttons */
.btn {
	background-color: transparent;
	border: 1px solid transparent;
	font-weight: var(--fs-semi-bold);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	padding: 0.6em 1em;
	white-space: nowrap;
	transition-duration: 150ms;
	transition-property: color, background, border-color;
}

/* content-grid */
.content-grid {
	padding-block: 10rem;
	gap: 4rem;
	grid-template-areas:
		"current-weather"
		"forecast-weather"
		"current-highlight"
		"current-day-highlight";
}

@media screen and (min-width: 55em) {
	.content-grid {
		grid-template-areas:
			"current-weather forecast-weather"
			"current-highlight current-highlight"
			"current-day-highlight current-day-highlight";
	}
}
