@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

@import url(./App.css);
@import url(./component/CurrentWeatherCard/CurrentWeatherCard.css);
@import url(./component/ForecastWeatherCard/ForecastWeatherCard.css);
@import url(./component/HighlightsWeatherCard/HighlightsWeatherCard.css);
@import url(./component/QualityIndexWeatherCard/QualityIndexWeatherCard.css);
@import url(./component/SunriseSunsetWEatherCard/SunriseSunsetWEatherCard.css);
@import url(./component/CurrentWeatherStatsCard/CurrentWeatherStatsCard.css);

:root {
	/* colors */
	--color-primary: #b1a1e2;

	--color-neutral-100: #fff;
	--color-neutral-200: #dddae5;
	--color-neutral-300: #787980;
	--color-neutral-300: #4b4b4c;
	--color-neutral-400: #282829;
	--color-neutral-500: #1b1b1c;
	--color-neutral-600: #19191a;
	--color-neutral-700: #100e17;
	--color-neutral-800: #121213;
	--color-good-100: #1f331f;
	--color-good-200: #89e589;
	--color-fair-100: #e5dd89;
	--color-fair-200: #33311f;
	--color-poor-100: #e58989;
	--color-poor-200: #331f1f;

	/* font sizes */
	--fs-100: 1.2rem;
	--fs-200: 1.4rem;
	--fs-300: 1.6rem;
	--fs-400: 1.8rem;
	--fs-500: 2.2rem;
	--fs-600: 2.5rem;
	--fs-700: 3.2rem;
	--fs-800: 3.5rem;
	--fs-900: 4.5rem;
	--fs-1000: 5.6rem;

	/* font family */
	--ff-primary: "Nunito Sans", sans-serif;
	--ff-secondary: var(--ff-primary);

	/* font weight */
	--fw-light: 300;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* border radius */
	--border-radius-100: 1.6rem;
	--border-radius-200: 2.6rem;
	--border-radius-full: 9999px;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html {
	font-size: 62.5%;
}

html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	min-height: 100dvh; /* for mobile viewports*/
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
