.forecast-weather-wrapper {
	/* grid-area: forecast-weather; */
}

.forecast-list {
	gap: 0.8em;
}

.forecast-list__item {
	gap: 2rem;
	justify-content: space-between;
}

.forecast-list-temperature-container {
	gap: 0.8em;
}
